<div id="msgArea" class="leyenda">
        <a href="/users/signup">Crea tu perfil</a>
        <p id="msg"> Con tu perfil encuentra tu vacante ideal</p>
        <hr>
      </div>


 <!-- Filtros que se despliegan
      <div class="selector">
      <select id="selectorColor" class="form-select" aria-label="Default select example">
        <option selected>Áreas de especialización</option>
        <option value="1" class="opciones"><a href="/Web Development"></a>Web Development</a></option>
        <option value="2" class="opciones"><a href="/Big Data">Big Data</a></option>
        <option value="3" class="opciones"><a href="/Software Engineering">Software Engineering</a></option>
        <option value="4" class="opciones"><a href="/Artificial Intelligence">Artificial Intelligence</a></option>
        <option value="5" class="opciones"><a href="/Design Thinking">Design Thinking</a></option>
        <option value="6" class="opciones"><a href="/Mobile Services">Mobile Services</a></option>
        <a href="/Cybersecurity">Cybersecurity</a>
      </select>
    </div>
    -->

    <h2>Selecciona el área que te interesa</h2>
    <div class="list-group">
      <a href="/vervacantes/Web Development" class="list-group-item list-group-item-action">Web Development</a>
      <a href="/vervacantes/Big Data" class="list-group-item list-group-item-action">Big Data</a>
      <a href="/vervacantes/Software Engineering" class="list-group-item list-group-item-action">Software Engineering</a>
      <a href="/vervacantes/Artificial Intelligence" class="list-group-item list-group-item-action">Artificial Intelligence</a>
      <a href="/vervacantes/Design Thinking" class="list-group-item list-group-item-action">Design Thinking</a>
      <a href="/vervacantes/Mobile Services" class="list-group-item list-group-item-action">Mobile Services</a>
      <a href="/vervacantes/Cybersecurity" class="list-group-item list-group-item-action">Cybersecurity</a>
    </div>


  <!--
    <div class="form-check form-switch filtro">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label id="label1" class="form-check-label" for="flexSwitchCheckDefault">Mostrar solo ofertas recientes</label>
    </div>

    <div class="form-check form-switch filtro">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
      <label id="label2" class="form-check-label" for="flexSwitchCheckChecked">Mostrar solo ofertas con más de un candidato</label>
    </div>
-->
      <hr id="hr1">
      <main> 

        <h2 id="title">Ofertas para <span style="color: rgb(7, 193, 218);">{{vacantes.[0].speciality}}</span></h2>
        <hr id="hr2">
        <div class="main">
          {{!-- <div class="ofertasIframe">
            <iframe src="/vacantes" width="85%" height="750px" id="iframe"></iframe>
          </div>
  
            <div class="descripcionCompleta">
              <h3>UI/UX Design Specialist</h3>
              <p>Buscamos candidato para servicio social especialista en UI/UX</p>
              <iframe src="/html/contenidoOferta.html" frameborder="0" width="100%" height="550px"></iframe>
                <hr>
                <form action="/vacanteAceptada?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
              <button class="btn btn-primary">Aplicar</button>
              </form> --}}
 
        <div class="contenedorOfertas">
          {{#each vacantes}}
            <div class="oferta" id="{{_id}}">
              <h3 class="titulo"> {{name}} </h3>
              <p class="compania">{{company}}</p>
              <p class="descripcion_oferta">{{description}}</p>
            </div>
         {{/each}}
        </div>


         <div class="ofertasIframe">
              <iframe src="/vacante/vacanteIframeAux" width="85%" height="750px" id="iframe"></iframe>
          </div>
        </main>
        </div>