<h2>Bienvenido {{users.name}} </h2>

      <div class="flex-container">

        <div class="imagen">
          <img src="/img/{{users.photo}}" alt="">
          <div class="infoImagen">
            <p> {{users.profession}} </p>
            <p class="blockquote-footer">Correo: {{users.email}} </p>
            <p class="blockquote-footer">Telefono: {{users.phone}} </p>
          </div>
        </div>

      <div class="menu">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#profile">Curriculum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#description">Descripción Personal</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active show" id="home">
            <ul>
              <li><a href="{{users.repository}}"> GitHub </a></li>
  
            </ul>
          </div>
          <div class="tab-pane fade" id="profile">
            <button class="btn btn-lg btn-primary Curriculum" type="button">Mi Curriculum</button>
          </div>

          <div class="tab-pane fade" id="description">
            <p class="descripcion">{{users.personalDescription}}</p>
          </div>
        </div>
      </div>

      <div class="calendario">
        <iframe class="iframe" src="https://calendar.google.com/calendar/embed?src=luisdavid202075%40gmail.com&ctz=America%2FMexico_City" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
